<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Stonks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Stonks.Properties.Settings>
            <setting name="WindowBounds" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="ColumnWidths" serializeAs="String">
                <value>62,204,74,75,57,93,55,82,55,82,74,75</value>
            </setting>
            <setting name="EncryptedApiKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="VerboseLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PollingInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StockDefinitions" serializeAs="String">
                <value>&lt;ArrayOfStockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;AAPL&lt;/Symbol&gt;
    &lt;Shares&gt;0&lt;/Shares&gt;
    &lt;PricePaid&gt;0.00&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-01&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;AMD&lt;/Symbol&gt;
    &lt;Shares&gt;100.00&lt;/Shares&gt;
    &lt;PricePaid&gt;200&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-02&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;INTC&lt;/Symbol&gt;
    &lt;Shares&gt;0&lt;/Shares&gt;
    &lt;PricePaid&gt;0&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-03&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;MSFT&lt;/Symbol&gt;
    &lt;Shares&gt;100&lt;/Shares&gt;
    &lt;PricePaid&gt;200&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-04&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;NVDA&lt;/Symbol&gt;
    &lt;Shares&gt;100&lt;/Shares&gt;
    &lt;PricePaid&gt;150&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-05&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;SPCX&lt;/Symbol&gt;
    &lt;Shares&gt;100&lt;/Shares&gt;
    &lt;PricePaid&gt;200&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-06&lt;/Notes&gt;
    &lt;Chart&gt;true&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
  &lt;StockDefinition&gt;
    &lt;Symbol&gt;BTC/USD&lt;/Symbol&gt;
    &lt;Shares&gt;0&lt;/Shares&gt;
    &lt;PricePaid&gt;0&lt;/PricePaid&gt;
    &lt;Notes&gt;Sample-07&lt;/Notes&gt;
    &lt;Chart&gt;false&lt;/Chart&gt;
  &lt;/StockDefinition&gt;
&lt;/ArrayOfStockDefinition&gt;</value>
            </setting>
            <setting name="ChartDirectory" serializeAs="String">
                <value/>
            </setting>
            <setting name="DisplayCharts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChartValues" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogType" serializeAs="String">
                <value>0</value>
            </setting>
        </Stonks.Properties.Settings>
    </userSettings>
</configuration>
